@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence-light.eot");
  src: url("../fonts/existence-light.eot?#iefix") format("embedded-opentype"), url("../fonts/existence-light.woff2") format("woff2"), url("../fonts/existence-light.woff") format("woff"), url("../fonts/existence-light.ttf") format("truetype"), url("../fonts/existence-light.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_titlingbold';
  src: url("../fonts/ubuntutitling-bold.eot");
  src: url("../fonts/ubuntutitling-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntutitling-bold.woff2") format("woff2"), url("../fonts/ubuntutitling-bold.woff") format("woff"), url("../fonts/ubuntutitling-bold.ttf") format("truetype"), url("../fonts/ubuntutitling-bold.svg#ubuntu_titlingbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "existencelight", Arial, sans-serif;
}

.grid-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.grid-container .row:after, .grid-container .row:before {
  content: "";
  display: table;
  clear: both;
}

.grid-container .row [class*="col-"] {
  float: left;
  min-height: 1px;
  border: 1px solid black;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

header {
  color: #ffffff;
}

header .img {
  width: 100%;
  background-image: url("../img/background.png");
  background-size: 100% auto;
  padding-bottom: 56.4%;
  background-repeat: no-repeat;
  padding: 2% 0;
}

header .header_text {
  text-align: center;
  margin-top: 2%;
}

header .title_violet {
  color: #9f449b;
}

header .header_subtitle {
  margin-top: 3%;
}

header [class*="hex"] {
  border: 1px solid white;
}

.icons {
  display: flex;
}

.icons .icons1 {
  margin-top: 15%;
  flex-grow: 2;
}

.icons .icons2 {
  flex-grow: 1;
}

.icons .icons2_top {
  margin-top: 25%;
  margin-bottom: 70%;
}

.icons .icons3 {
  margin-top: 15%;
  flex-grow: 2;
}
