@font-face {
  font-family: 'existencelight';
  src: url("../fonts/existence-light.eot");
  src: url("../fonts/existence-light.eot?#iefix") format("embedded-opentype"), url("../fonts/existence-light.woff2") format("woff2"), url("../fonts/existence-light.woff") format("woff"), url("../fonts/existence-light.ttf") format("truetype"), url("../fonts/existence-light.svg#existencelight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_titlingbold';
  src: url("../fonts/ubuntutitling-bold.eot");
  src: url("../fonts/ubuntutitling-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntutitling-bold.woff2") format("woff2"), url("../fonts/ubuntutitling-bold.woff") format("woff"), url("../fonts/ubuntutitling-bold.ttf") format("truetype"), url("../fonts/ubuntutitling-bold.svg#ubuntu_titlingbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tuffyregular';
  src: url("../fonts/tuffy-webfont.woff2") format("woff2"), url("../fonts/tuffy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "existencelight", Arial, sans-serif;
}

.grid-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}

.grid-container .row:after, .grid-container .row:before {
  content: "";
  display: table;
  clear: both;
}

.grid-container .row [class*="col-"] {
  min-height: 1px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

header {
  color: #ffffff;
}

header .img {
  width: 100%;
  background-image: url("../img/background.png");
  background-size: 100% auto;
  padding-bottom: 56.4%;
  background-repeat: no-repeat;
  padding: 2% 0;
  background-attachment: fixed;
}

header .header_text {
  text-align: center;
  margin-top: 2%;
}

header .title_violet {
  color: #9f449b;
  font-size: 4rem;
}

header .header_subtitle {
  margin-top: 3%;
}

header [class*="hex"] {
  width: 100px;
  float: left;
  margin-left: 50px;
}

header .hex7 {
  width: 50px;
}

.title_violet {
  color: #9f449b;
}

.icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons .icons2_bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.icons .icons1, .icons .icons3 {
  margin-top: 15%;
}

.cls-1, .cls-2, .cls-3 {
  fill: #ffffff;
}

.cls-1:hover, .cls-2:hover, .cls-3:hover {
  fill: #9f449b;
}

.cls-1 {
  fill-opacity: 0.1;
  stroke: #ffffff;
  stroke-linejoin: round;
  stroke-width: 4px;
  transition: 1s;
}

.cls-1:hover {
  fill: #9f449b;
  fill-opacity: 0.6;
  stroke: #9f449b;
}

.cls-1, .cls-2 {
  fill-rule: evenodd;
}

.cls-3 {
  font-size: 18px;
  text-anchor: middle;
  font-family: "ubuntu_titlingbold", Arial, sans-serif;
}

.cls-4 {
  fill: #9f449b;
  fill-opacity: 0;
  stroke: #9f449b;
  stroke-linejoin: round;
  stroke-width: 5px;
  fill-rule: evenodd;
  transition: 0.5s;
}

.cls-4:hover {
  fill: #9f449b;
  fill-opacity: 0.8;
  stroke: #9f449b;
}

.sticky-menu {
  font-style: "tuffyregular", Arial, sans-serif;
  background-color: #ffffff;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
}

.sticky-menu .logo {
  margin-left: 20%;
  float: left;
  font-size: 20px;
}

.sticky-menu .menu {
  float: right;
  margin-right: 12%;
  text-transform: uppercase;
  font-size: 16px;
  width: 45%;
}

.sticky-menu .menu ul {
  margin: 0;
}

.sticky-menu .menu ul li {
  display: inline-block;
  margin-right: 2%;
  letter-spacing: 1px;
}

.sticky-menu .menu ul li:hover {
  color: #9f449b;
  font-weight: bolder;
}
